.row.input-row
  %h3 Flickr Preview
  .append.field
    %input.wide.text.input{ id: "query-input", type: "text", placeholder: "Write something here" }
    .medium.primary.btn
      %a{ href: "#", id: "search-btn" }
        Go!

.row.content-row
  .info.label.two.columns{ id: "status-bar" }
    Loading...
  #photos-container
